/* ==========================
   Theme Variables
========================== */
:root[data-theme="light"] {
  --text-contrast: hsl(0, 0%, 100%);
  --text: hsl(255, 15%, 5%);
  --background: hsl(260, 17%, 93%);
  --primary: hsl(255, 52%, 54%);
  --secondary: hsl(255, 52%, 70%);
  --accent: hsl(255, 83%, 64%);
}

:root[data-theme="dark"] {
  --text-contrast: hsl(0, 0%, 0%);
  --text: hsl(255, 14%, 95%);
  --background: hsl(260, 16%, 7%);
  --primary: hsl(255, 52%, 46%);
  --secondary: hsl(255, 52%, 30%);
  --accent: hsl(255, 83%, 36%);
}

/* ==========================
   Base Styles
========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: var(--text);
  background-color: var(--background);
}

#noResults{
  display: none;
  text-align: center;
  color: #666;
  margin-top: 1rem;
}

h1,h2,h3,h4,p,a,span,label{
  color: var(--text);
}

i { background-color: transparent; }

/* ==========================
   Buttons
========================== */
button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
  display: inline-block;
  background-color: var(--button-backgorund);
  color: var(--button-color);
}

button:hover {
  background-color: var(--accent);
  color: var(--text);
}
/* ==========================
   Navbar
========================== */
.navbar {
  position: sticky;
  top: 0.5rem;
  margin: 0 auto;
  width: fit-content;
  background: var(--background);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 16px var(--shadow-color);
  z-index: 1000;
}

.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text);
  font-size: 0.9rem;
  font-weight: 500;
  width: 65px;
  height: 55px;
  border-radius: 1rem;
  border: 1px solid var(--secondary);
  transition: all 0.3s ease;
  overflow: hidden;
}

.nav-item i {
  font-size: 1.5rem;
  transition: transform 0.3s, opacity 0.3s;
}

.nav-item span {
  position: absolute;
  bottom: 8px;
  font-size: 0.8rem;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.nav-item:hover i {
  transform: translateY(-10px);
}

.nav-item:hover span {
  opacity: 1;
  transform: translateY(2px);
}

.nav-item.active {
  border: 2px solid var(--primary);
  box-shadow: 0 4px 12px var(--shadow-color);
  color: var(--primary);
  scale: 1.1;
}

#theme-toggle{
  background: none;
  padding: 0.75rem;
  width: 40px;
  height: 40px;
}

#theme-toggle:hover i {
  transform: translateY(-4px)
}